@use 'inc' as *;

html {
    font-size: $bodyfontsize;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}


@import '_layout';
@import 'ui/_button';
@import 'ui/_headings';
@import 'ui/_article';
@import 'ui/_aspect-ratio';
/* Default Page */
// @import 'inc/_default-content';
/* Form checkboxes  */
// @import "inc/_checkboxes";
// HEADER & FOOTER
@import 'partials/header';
@import 'partials/footer';

